body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 101, 104);
  color: rgba(44, 42, 42, 0.904);
}

p {
  font-size: rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
